// Body
$body-bg: #f8fafc;

// Typography
$header: 'Cinzel', serif;
$text: 'Montserrat', sans-serif;

//$font-family-sans-serif: 'Nunito', sans-serif;
//$font-size-base: 0.9rem;
//$line-height-base: 1.6;

// Colors
//$blue: #3490dc;
//$indigo: #6574cd;
//$purple: #9561e2;
//$pink: #f66d9b;
//$red: #e3342f;
//$orange: #f6993f;
//$yellow: #ffed4a;
//$green: #38c172;
//$teal: #4dc0b5;
//$cyan: #6cb2eb;

$black: #000000;
$background: #222222;
$dark-gray: #373737;
$gray: #999999;
$light-gray: #CCCCCC;
$white: #FFFFFF;

$red: #F32C2C;
$orange: #DD7337;
$blue: #1597B4;
